﻿/* mobile first */
/* xs - default layout */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.list-result{
   margin: 20px 0;
}

.profile-name{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 32px;
}

.profile-image img{
    display: block;
    margin: 0 auto;
}

#search-form-topbar{
    width: 100%;
    padding-top: 20px;
}

#search-button-icon{
    display: none;
}

.search-control{
    height: 40px;
}

.main-search-input{
    width: 130px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    }

.main-search-input:focus {
    width: 80%;
    }

.main-search-input, .main-search-button {
    border: 1px;
    border-style: solid;
    border-radius: 6px;
    background-color: white;
}
#profile-list{
    padding-top: 20px;
}


/* sm */
@media (min-width: 768px){
    #search-button-text{
        display:inline;
    }
    #search-button-icon{
        display: none;
    }
    #search-form-topbar{
        width: initial;
        float: right;
        padding-top: 0;
    }
    .profile-name{
        text-align: left;
        margin: 0;
        padding-bottom: 0;
    }
    
    .profile-image img{
        margin: 0;
        height: 150px;
        width: 150px;
    }

}

/* md */
@media (min-width: 992px){
    #search-button-icon{
        display: inline;
    }
    .profile-name{
        font-size: 40px;
    }
    #profile-list{
        padding-top: 0;
    }
}

/* lg */
@media (min-width: 1200px)
{
    .profile-image img{
        margin: 0;
        height: 100px;
        width: 100px;
    }
    .profile-name{
        font-size: 32px;
    }
}




