<div class="row">
    <div class="col-sm-6">
    <div>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
    </div>
</div>
<div class="col-sm-6">
    <form id="search-form-topbar" class="form-inline" method="get" asp-route="/results">
    <div class="input-group">
      <input type="text" class="form-control search-control" id="query" name="query" value="@ViewBag.Query">
      <span class="input-group-btn">
        <button class="btn btn-default search-control" type="submit"><span id="search-button-icon" class="glyphicon glyphicon-search" aria-hidden="true"></span><span id="search-button-text"> Search</span></button>
      </span>
    </div>
</form>
</div>


</div>