﻿@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div id="profile" class="row">
</div>

@section Scripts{
    <script src="~/js/profile.js"></script>
        <script>
window.onload = function(){
 setTimeout(function(){
   getProfile('@ViewBag.Id');
 }, 1000);
};

</script>
}
