﻿
@{
    ViewData["Title"] = "Help";
}
<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div id="help" class="row">
</div>

<div1 class="Search col-xs-4 text-center">
    <h1> Search </h1>
    <p> The search page is where you will be able to seach for people on facebook. 
        By searching a name it will present a list of profiles containing the name of the person
        you have searched. </p>
     </div1>

<div2 class="Results col-xs-4 text-center">
    <h1> Results </h1>
    <p> The result page is where it shows you the most relevant profiles according to your search.
        You will only get results for people that macth the name you entered, so if the name you entered doesn't exist
        no profiles will show. </p>
     </div2>

<div3 class="Profile col-xs-4 text-center">
    <h1> Profile </h1>
    <p> Once you have selected a profile it will bring you to the final page, where it will show you a picture along with 
        some basic information about the person, which will include the public information they share on their facebook. </p>
     </div3>