﻿@{
    ViewData["Title"] = "Home";
}
@Html.Partial("_Login")

<div class="row">
    <div class="col-lg-12">
        <form class="form-inline">
            
        </form>
    </div>
</div>
<div class="container">
	<div class="row">
		<h2>Search Name:</h2>
           <form id="custom-search-input" method="get" action="/results">
                            <div class="input-group col-md-12">                                
                                <input type="text" name="query" id="query" class="main-search-input"placeholder="Search..">
                                <input type="submit" class="main-search-button" value="Search">
                            </div>
                        </form>
	</div>
</div>