﻿@{
    ViewData["Title"] = "Results";
}
@Html.Partial("_SearchLogin")

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
        <p id="status">
           
        </p>
    </div>
</div>
<div id="results" class="row">
</div>

@section Scripts{
    <script src="~/js/results.js"></script>
    <script>
window.onload = function(){
 setTimeout(function(){
   searchFacebook('@ViewBag.Query');
 }, 1000);
};

</script>

}

